@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
.display-flex{
   display: flex;
}
/* Dark 02 */
.text-gray{
   color: #424242;
}
/* Dark 03 */
.text-light-gray{
   color: #727272;
}
.text-primary{
   color: #ff900e;
}
.bg-light{
   background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
   background-color: #ff900e;
   color: white;
   padding: 20px 25px;
   font-weight: 600;
   font-size: 1.25rem;
   border-radius: 8px;
   border: 0;
}
main{
   max-width: 1440px;
   margin: 0 auto;
}
main> section{
   margin-top: 130px ;
}
.section-title{
   font-size: 2.8rem;
   font-weight: 700;
}

/* Header styles */

/* Nav-bar related styles */
.nav-bar{ 
   justify-content: space-between;
   align-items: center;
}
.brand{
   font-weight: 700;
   font-size: 3rem;
}
.nav-item{
   list-style: none;
   margin-right: 30px;

}
.nav-link{
   text-decoration: none;
   font-weight: 500;
}
.nav-bar, .banner{
   max-width: 1440px;
   margin: 0 auto;
}
.banner-content{
   max-width: 850px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 50px;
}
.banner-title{
   font-weight: 700;
   font-size: 4rem;
}
.banner-image{
   width: 100%;
}
/* Team and feature related style */
.teams{
   align-items: center;
}
.team-img-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
}
.features{
   margin-left: 130px;
   max-width: 530px;
}

#quick-list{
   font-weight: 500;
}
/*  Some facts related style*/
.facts-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}
.fact-card{
   border: 1px solid #ff900e;
   width: 240px;
   height: 240px;
   border-radius: 8px;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.fact-number{
   font-size: 2.8rem;
   font-weight: 600;
   margin-top: 5px;
   margin-bottom: 10px;

}
.fact-name{
   margin-top: 10px;
   font-weight: 600;
   font-size: 1.25rem;
}
.fact-description{
   max-width: 540px;
}

/* Responsive-Media query */
@media screen and (max-width: 576px){
   .nav-bar, .nav-links, .teams{
      flex-direction: column;
   }

   .team-img-container{
      grid-template-columns: repeat(1, 1fr);
   }
   .features{
      margin-left: 20px ;
   }
}
/* Medium size device */
@media screen and (min-width: 576px) and (max-width: 992px){
   .teams{
      flex-direction: column;
   }
   .features{
      margin: 50px auto;
   }
}